<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Hospital</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <h1>Doctor</h1>
    <tabale border = "1">
        <tr>
        <td th:text="${doc.id}"/>
        <td th:text="${doc.name}"/>
        <td th:text="${doc.fio}"/>
</tr>
    </tabale>
</div>
</body>
</html>